<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
  <article class="hentry">
    <div class="entry-content">
        {% if page.image.feature %}
            <div class="entry-image-index">
              <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
              {% if page.image.credit %}<div class="image-credit">Image source: <a target="_blank" href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
            </div>
        {% endif %}
      <!-- <h1 class="post-title entry-title">{{ page.title }}</h1> -->
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
        {% if page.modified %}<span>Updated on <span class="entry-date date updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        {% endif %}
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    <!-- {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section>{% endif %} -->
    <!-- Livere City code -->
    <!-- <div id="lv-container" class="entry-content" data-id="city" data-uid="MTAyMC80MzE1Mi8xOTY5OA==">
      <script type="text/javascript">
      (function(d, s) {
          var j, e = d.getElementsByTagName(s)[0];

          if (typeof LivereTower === 'function') { return; }

          j = d.createElement(s);
          j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
          j.async = true;

          e.parentNode.insertBefore(j, e);
      })(document, 'script');
      </script>
    <noscript> 为正常使用 Livere 评论功能请激活 JavaScript</noscript>
    </div> -->
    <div id="vssue" class="entry-content"></div>
    <script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>
    <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
    <script>
        new Vue({
          el: '#vssue',

          render: h => h('Vssue', {
            props: {
              // 在这里设置当前页面对应的 Issue 标题
              title: location.href,

              // 在这里设置你使用的平台的 OAuth App 配置
              options: {
                owner: 'xianzhu21',
                repo: 'xianzhu21.github.io',
                clientId: '4c85477e43293db1a0b4',
                clientSecret: '7339294aca46faeadc31dfc3174a4cd4023993be', // 只有在使用某些平台时需要
              },
            }
          })
        })
    </script>
    {% include author.html %}
    {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
  </article>
</div><!-- /#main -->

{% include scripts.html %}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>
